html,body{

}

body{

}

#root{
  width:100vw;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}



.box{
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
transition: 0.5s all;
}

.box img{
  max-width:100%;

}

.options-contain{
  width:100%;
  opacity:0;
  transition:0.5s all;
  height:100%;
  position:absolute;
  left:0;
  right:0;
  background:rgba(0,0,0,0);
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.options-wrapper{
  width:100%;
}

.icons-contain{
  width:100%;
  position:absolute;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icons-contain img{
  transition:0.2s opacity;
  opacity:0.6;
  cursor:pointer;

    width:45px;
    max-width:100%;
    padding:1em;

}

.icons-contain img:hover{
  opacity:1;
}

.status-input, .image-input{
  text-align: center;
  width:100%;height:100%;
}

.box:hover .options-contain{
background:rgba(0,0,0,0.8);
opacity:1;
}

.profile{
  width:80px;
  height:80px;
  border-radius:100%;
  background-size:cover;
  background-position: center;
  margin:0 auto;
}

.draggable{
  width:33.3%;
  background:white;
  height:200px;
  outline:solid 1px whitesmoke;
  cursor: pointer;

}

.placeholder{
opacity:0.5;
background:whitesmoke;
}



.placeholder-box{
  opacity:1 !important;
  background:white;
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
}


.grid-container{
width:50vw;
height:auto;
margin:0 auto;
max-width: 100%;
max-height:100vh;

}

.status-image{

}

.dragged{
  border:solid 1px whitesmoke;
  display:flex;
  align-items: center;
  justify-content: center;
}

.img{
  width:100%;
  height:100%;
  background-size:cover;
  background-position: center;
}

#img {
width:100%;
color:white;
text-align: center;
opacity:1;
font-size:1.2em;
}

#img + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: none;
    border:solid thin white;
    display: inline-block;
    line-height:2.5em;
    padding:0.5em;
    display:block;
    width:100%;
    cursor: pointer;
    transition: 0.4s all;
}

#img:focus + label,
#img + label:hover {
    background-color: rgba(0,0,0,1);
}

.submit-btn{
  width:80%;
  height:35px;
margin:1em auto;
background-color: rgba(19,97,144, 0.5);
color: white;
box-shadow: none;
border: none;
font-size: 1.4em;
transition:0.5s background-color;
border-radius:5px;
}

.submit-btn:hover{
  background-color:rgba(19,97,144, 1);
}

.cancel-icon{
  position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    display:none;
    font-size:1.2em;
    cursor:pointer;
}

.status-contain{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.status{
  margin:0 auto;
  color:dimgray;
  font-size:1.2em;
  font-family: 'Open Sans', sans-serif;
  padding:1em;
  opacity:0;
  transition: 0.5s all;
}

.status-input textarea{
  width:100%;
  resize:none;
  height:100px;
  max-height:100%;
  font-size:1.4em;
  padding:1em;
  text-align: center;
  color:white;
  background:none;
  border:none;
}

.profile-image{
  width:65px;
  height:65px;
  border-radius:100%;
}

textarea:focus{
  outline:0;
}

.uil-cube-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
  margin:0 auto;
}
width: 100%;
@-webkit-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.uil-cube-css > div {
  position: absolute;
  width: 80px;
  height: 80px;
  -ms-animation: uil-cube-css 1s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite;
  -moz-animation: uil-cube-css 1s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite;
  -webkit-animation: uil-cube-css 1s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite;
  -o-animation: uil-cube-css 1s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite;
  animation: uil-cube-css 1s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite;
}
.uil-cube-css > div:nth-of-type(1) {
  top: 10px;
  left: 10px;
  background: whitesmoke;
  opacity: 0.9;
  -ms-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
.uil-cube-css > div:nth-of-type(2) {
  top: 10px;
  left: 110px;
  background: whitesmoke;
  opacity: 0.8;
  -ms-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.uil-cube-css > div:nth-of-type(3) {
  top: 110px;
  left: 10px;
  background: whitesmoke;
  opacity: 0.7;
  -ms-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.uil-cube-css > div:nth-of-type(4) {
  top: 110px;
  left: 110px;
  background: whitesmoke;
  opacity: 0.6;
  -ms-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

/*Login page*/
.title-contain{
  width:100%;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.app-title{
  color:dimgray;
  text-align: center;
}

.login-contain{
  display:flex;
  align-items: center;
  justify-content: center;
  padding:1em;
  height:100%;
  width:100%;
  transition:0.5s background;
  flex-direction: column;
}

.login-contain:hover{
  background:whitesmoke;
}

.login-contain:hover .login-btn{
  opacity:1;
}

.login-contain input[type="text"]{
  padding:1em;
  display:block;
  margin:1em auto;
  width:100%;
  font-size:1.2em;
}

.fb-login{
  max-width:100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  opacity:0.8;
  transition:0.5s all;
  cursor:pointer;
  width:100%;

}

.login-btn{
  max-width:100%;
  opacity:0.8;
  transition:0.5s all;
  cursor:pointer;
  width:85%;
  padding:1em;
  height:40px;
  box-shadow:none;
  border:none;
  background-color:lightgray;
  color:black;
  font-size:1.4em;
  line-height:0.7em;
}

.signup-btn{
  max-width:100%;
  opacity:0.8;
  transition:0.5s all;
  cursor:pointer;
  padding:1em;
  height:40px;
  box-shadow:none;
  border:none;
  margin:1.5em auto;
  color:black;
  font-weight:bold;
  font-size:1.4em;
  line-height:0.7em;
}
